<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-10 col-lg-12'>
      <h1>cancel matchingとは？</h1>
      <p>間近でキャンセルになってしまったホテルと予約を探しているお客様の両者をマッチングさせる予約サイトです。</p>
    </div>
  </div>
</div>