<div class='container'>
  <div class='row no-gutters mt-5'>
    <div class='col-md-6'>
      <%= image_tag 'reception.jpg', class: 'img-fluid top-description__img' %>
    </div>
    <div class='col-md-6'>
      <div class='container-fluid h-100 d-flex flex-column justify-content-center'>
      <h2>cancel matchingとは</h2>
    <p>直近でキャンセルになってしまった施設側と予約を探しているお客様の両者がマッチングできるサイトです。
    「キャンセル」という言葉をマイナスではなくマッチできる、というプラスの捉え方をもって頂きたくcancel matchingというサイト名にしました。
    直近で空室のホテルを探している時、キャンセルになってしまったお部屋を他のお客様に宿泊してほしい時‥様々な用途でご利用していただけますと幸いです。
    </p>
      </div>
    </div>
  </div>
</div>
