<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-5 col-md-10 offset-md-3 col-lg-12 offset-lg-1">
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div>
          <div>
            <h1>お問い合わせいただきありがとうございます。</h1>
          </div>
          <div class="text-center">
            <p>システムによる自動返信にて受付完了メールを送信しております。</p>
            <p>お問い合わせの内容を確認させていただき、担当者から順次返信いたしますので今しばらくお待ち下さいませ。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>